In [2]:
import pandas as pd

# Load your CSV
df = pd.read_csv('../data/train.csv')

# Clean or rename columns as needed (example column names used here)
# e.g., model, motor_volume, motor_type, type

# Extract unique combinations
unique_models = df[['model', 'motor_volume', 'motor_type', 'type']].drop_duplicates()

# Optional: Sort them
unique_models = unique_models.sort_values(by=['model', 'motor_volume', 'motor_type', 'type'])

# Show result
print(unique_models)

        model  motor_volume      motor_type               type
1505  hyundai           1.6          hybrid              sedan
1139  hyundai           1.6          petrol          hatchback
16    hyundai           1.6          petrol              sedan
506   hyundai           1.8             gas              sedan
195   hyundai           1.8          petrol              Coupe
...       ...           ...             ...                ...
1036   toyota           2.0          petrol          hatchback
1530   toyota           2.0          petrol  minivan / minibus
0      toyota           2.0          petrol              sedan
813    toyota           2.0          petrol                suv
925    toyota           2.0  petrol and gas              sedan

[93 rows x 4 columns]

In [ ]:
filtered = df[df['model'] == 'mercedes-benz']
unique_mercedes_models = filtered[['motor_volume', 'motor_type', 'type']].drop_duplicates()
print(unique_mercedes_models)

         motor_type
1            petrol
39              gas
96   petrol and gas
429          diesel

In [ ]:
filtered = df[df['model'] == 'hyundai']
unique_mercedes_models = filtered[['motor_volume', 'motor_type', 'type']].drop_duplicates()
print(unique_mercedes_models)

          motor_type
9             petrol
130   petrol and gas
190              gas
1505          hybrid

In [ ]:
filtered = df[df['model'] == 'nissan']
unique_mercedes_models = filtered[['motor_volume', 'motor_type', 'type']].drop_duplicates()
print(unique_mercedes_models)

         motor_type
6            petrol
388  petrol and gas
664             gas

In [ ]:
filtered = df[df['model'] == 'toyota']
unique_mercedes_models = filtered[['type']].drop_duplicates()
print(unique_mercedes_models)

         motor_type
0            petrol
17              gas
186  petrol and gas

In [23]:
filtered = df[df['model'] == 'kia']
unique_mercedes_models = filtered[['motor_volume']].drop_duplicates()
print(unique_mercedes_models)

      motor_volume
2              2.0
95             1.8
185            1.6
852            0.2
1374           2.4